.navbar {
  position: absolute;
  z-index: 99;
}
.navbar.active {
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
}
.nav-link:hover {
  color: blue;
}
.navbar-brand {
  font-weight: 700;
  font-size: 2em;
  margin-left: 50px;
}
.navbar-nav {
  min-height: 80px;
  color: #1a30b8;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: no-wrap;
}
.navbar-nav .nav-item {
  margin-left: 80px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}
.navbar-nav .nav-item .nav-link {
  color: #fff;
  font-weight: bold;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #1a30b8;
}
.Buttons {
  margin-left: 250px;
  display: flex;
}
